1.4 Requirements for Human Life
LEARNING OBJECTIVES
By the end of this section, you will be able to:
•
Discuss the role of oxygen and nutrients in maintaining human survival
•
Explain why extreme heat and extreme cold threaten human survival
•
Explain how the pressure exerted by gases and fluids influences human survival
Humans have been acclimating to life on Earth for at least the past 200,000 years. Earth and its atmosphere have
provided us with air to breathe, water to drink, and food to eat, but these are not the only requirements for survival.
Although you may rarely think about it, you also cannot live outside of a certain range of temperature and pressure
that the surface of our planet and its atmosphere provides. The next sections explore these four requirements of
life.
Oxygen
Atmospheric air is only about 20 percent oxygen, but that oxygen is a key component of the chemical reactions that
keep the body alive, including the reactions that produce ATP. Brain cells are especially sensitive to lack of oxygen
because of their requirement for a high-and-steady production of ATP. Brain damage is likely within five minutes
without oxygen, and death is likely within ten minutes.

Nutrients
A nutrient is a substance in foods and beverages that is essential to human survival. The three basic classes of
nutrients are water, the energy-yielding and body-building nutrients, and the micronutrients (vitamins and
minerals).
The most critical nutrient is water. Depending on the environmental temperature and our state of health, we may be
able to survive for only a few days without water. The body’s functional chemicals are dissolved and transported in
water, and the chemical reactions of life take place in water. Moreover, water is the largest component of cells,
blood, and the fluid between cells, and water makes up about 70 percent of an adult’s body mass. Water also helps
regulate our internal temperature and cushions, protects, and lubricates joints and many other body structures.
The energy-yielding nutrients are primarily carbohydrates and lipids, while proteins mainly supply the amino acids
that are the building blocks of the body itself. You ingest these in plant and animal foods and beverages, and the
digestive system breaks them down into molecules small enough to be absorbed. The breakdown products of
carbohydrates and lipids can then be used in the metabolic processes that convert them to ATP. Although you might
feel as if you are starving after missing a single meal, you can survive without consuming the energy-yielding
nutrients for at least several weeks.
Water and the energy-yielding nutrients are also referred to as macronutrients because the body needs them in
large amounts. In contrast, micronutrients are vitamins and minerals. These elements and compounds participate in
many essential chemical reactions and processes, such as nerve impulses, and some, such as calcium, also
contribute to the body’s structure. Your body can store some of the micronutrients in its tissues, and draw on those
reserves if you fail to consume them in your diet for a few days or weeks. Some others micronutrients, such as
vitamin C and most of the B vitamins, are water-soluble and cannot be stored, so you need to consume them every
day or two.
Narrow Range of Temperature
You have probably seen news stories about athletes who died of heat stroke, or hikers who died of exposure to cold.
Such deaths occur because the chemical reactions upon which the body depends can only take place within a
narrow range of body temperature, from just below to just above 37°C (98.6°F). When body temperature rises well
above or drops well below normal, certain proteins (enzymes) that facilitate chemical reactions lose their normal
structure and their ability to function and the chemical reactions of metabolism cannot proceed.
That said, the body can respond effectively to short-term exposure to heat (Figure 1.8) or cold. One of the body’s
responses to heat is, of course, sweating. As sweat evaporates from skin, it removes some thermal energy from the
body, cooling it. Adequate water (from the extracellular fluid in the body) is necessary to produce sweat, so
adequate fluid intake is essential to balance that loss during the sweat response. Not surprisingly, the sweat
response is much less effective in a humid environment because the air is already saturated with water. Thus, the
sweat on the skin’s surface is not able to evaporate, and internal body temperature can get dangerously high.

FIGURE 1.8
Extreme Heat
Humans acclimate to some degree to repeated exposure to high temperatures. (credit: McKay Savage/flickr)
The body can also respond effectively to short-term exposure to cold. One response to cold is shivering, which is
random muscle movement that generates heat. Another response is increased breakdown of stored energy to
generate heat. When that energy reserve is depleted, however, and the core temperature begins to drop
significantly, red blood cells will lose their ability to give up oxygen, denying the brain of this critical component of
ATP production. This lack of oxygen can cause confusion, lethargy, and eventually loss of consciousness and death.
The body responds to cold by reducing blood circulation to the extremities, the hands and feet, in order to prevent
blood from cooling there and so that the body’s core can stay warm. Even when core body temperature remains
stable, however, tissues exposed to severe cold, especially the fingers and toes, can develop frostbite when blood
flow to the extremities has been much reduced. This form of tissue damage can be permanent and lead to gangrene,
requiring amputation of the affected region.
Everyday Connection
Controlled Hypothermia
As you have learned, the body continuously engages in coordinated physiological processes to maintain a stable
temperature. In some cases, however, overriding this system can be useful, or even life-saving. Hypothermia is
the clinical term for an abnormally low body temperature (hypo- = “below” or “under”). Controlled hypothermia
is clinically induced hypothermia performed in order to reduce the metabolic rate of an organ or of a person’s
entire body.
Controlled hypothermia often is used, for example, during open-heart surgery because it decreases the
metabolic needs of the brain, heart, and other organs, reducing the risk of damage to them. When controlled
hypothermia is used clinically, the patient is given medication to prevent shivering. The body is then cooled to
25–32°C (79–89°F). The heart is stopped and an external heart-lung pump maintains circulation to the patient’s
body. The heart is cooled further and is maintained at a temperature below 15°C (60°F) for the duration of the
surgery. This very cold temperature helps the heart muscle to tolerate its lack of blood supply during the
surgery.
Some emergency department physicians use controlled hypothermia to reduce damage to the heart in patients
who have suffered a cardiac arrest. In the emergency department, the physician induces coma and lowers the
patient’s body temperature to approximately 91 degrees. This condition, which is maintained for 24 hours,
slows the patient’s metabolic rate. Because the patient’s organs require less blood to function, the heart’s
workload is reduced.

Narrow Range of Atmospheric Pressure
Pressure is a force exerted by a substance that is in contact with another substance. Atmospheric pressure is
pressure exerted by the mixture of gases (primarily nitrogen and oxygen) in the Earth’s atmosphere. Although you
may not perceive it, atmospheric pressure is constantly pressing down on your body. This pressure keeps gases
within your body, such as the gaseous nitrogen in body fluids, dissolved. If you were suddenly ejected from a space
ship above Earth’s atmosphere, you would go from a situation of normal pressure to one of very low pressure. The
pressure of the nitrogen gas in your blood would be much higher than the pressure of nitrogen in the space
surrounding your body. As a result, the nitrogen gas in your blood would expand, forming bubbles that could block
blood vessels and even cause cells to break apart.
Atmospheric pressure does more than just keep blood gases dissolved. Your ability to breathe—that is, to take in
oxygen and release carbon dioxide—also depends upon a precise atmospheric pressure. Altitude sickness occurs in
part because the atmosphere at high altitudes exerts less pressure, reducing the exchange of these gases, and
causing shortness of breath, confusion, headache, lethargy, and nausea. Mountain climbers carry oxygen to reduce
the effects of both low oxygen levels and low barometric pressure at higher altitudes (Figure 1.9).
FIGURE 1.9
Harsh Conditions
Climbers on Mount Everest must accommodate extreme cold, low oxygen levels, and low barometric
pressure in an environment hostile to human life. (credit: Melanie Ko/flickr)
HOMEOSTATIC IMBALANCES
Decompression Sickness
Decompression sickness (DCS) is a condition in which gases dissolved in the blood or in other body tissues are no
longer dissolved following a reduction in pressure on the body. This condition affects underwater divers who surface
from a deep dive too quickly, and it can affect pilots flying at high altitudes in planes with unpressurized cabins.
Divers often call this condition “the bends,” a reference to joint pain that is a symptom of DCS.
In all cases, DCS is brought about by a reduction in barometric pressure. At high altitude, barometric pressure is
much less than on Earth’s surface because pressure is produced by the weight of the column of air above the body
pressing down on the body. The very great pressures on divers in deep water are likewise from the weight of a
column of water pressing down on the body. For divers, DCS occurs at normal barometric pressure (at sea level), but
it is brought on by the relatively rapid decrease of pressure as divers rise from the high pressure conditions of deep
water to the now low, by comparison, pressure at sea level. Not surprisingly, diving in deep mountain lakes, where
barometric pressure at the surface of the lake is less than that at sea level is more likely to result in DCS than diving
in water at sea level.
In DCS, gases dissolved in the blood (primarily nitrogen) come rapidly out of solution, forming bubbles in the blood
and in other body tissues. This occurs because when pressure of a gas over a liquid is decreased, the amount of gas
that can remain dissolved in the liquid also is decreased. It is air pressure that keeps your normal blood gases
dissolved in the blood. When pressure is reduced, less gas remains dissolved. You have seen this in effect when you
open a carbonated drink. Removing the seal of the bottle reduces the pressure of the gas over the liquid. This in turn
causes bubbles as dissolved gases (in this case, carbon dioxide) come out of solution in the liquid.
The most common symptoms of DCS are pain in the joints, with headache and disturbances of vision occurring in 10
percent to 15 percent of cases. Left untreated, very severe DCS can result in death. Immediate treatment is with
pure oxygen. The affected person is then moved into a hyperbaric chamber. A hyperbaric chamber is a reinforced,
closed chamber that is pressurized to greater than atmospheric pressure. It treats DCS by repressurizing the body
so that pressure can then be removed much more gradually. Because the hyperbaric chamber introduces oxygen to
the body at high pressure, it increases the concentration of oxygen in the blood. This has the effect of replacing
some of the nitrogen in the blood with oxygen, which is easier to tolerate out of solution.
The dynamic pressure of body fluids is also important to human survival. For example, blood pressure, which is the
pressure exerted by blood as it flows within blood vessels, must be great enough to enable blood to reach all body
tissues, and yet low enough to ensure that the delicate blood vessels can withstand the friction and force of the
pulsating flow of pressurized blood.
