@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap');

.headerText {
  font-family: 'Noticia Text';
  font-weight: 900;
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.headerPrompt {
  font-family: 'Noticia Text';
  font-weight: 300;
  text-align: left;
  padding-top: 0.2em;
  margin-top: 10%;
}

.headerPreview {
  font-family: 'Noticia Text';
  font-size: 20px;
  text-align: left;
  padding-top: 1.5em;
  font-weight: bold;
}

.headerTextbox {
  font-family: 'Noticia Text';
  font-weight: 300;
  text-align: left;
  padding-top: 0.0em;
}

.dragger_0 {
  font-family: 'Noticia Text';
  font-weight: 1000;
  float: left;
}


/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */
.drag-handle {
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.graphContainer {
  overflow: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.kg_sidetoolbar_textbox{
  width: 70%;
  float: right;
}

.kg_sidetoolbar{
  width: 100%;
}

.knowledge_graph{
  width: 75%;
  float: right;
  
}

.sideToolBar{
  height: 30%;
  width: 25%;
  margin-top: 1.8%;
  float: left;
}

.selectSearchBoxMain{
  height: 50%;
  width: 100%;
  margin-top: 5%;
  float: right;
}

.userLibrary{
  height: 50%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  float: right;
}

.selectSearchBox{
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.listButton {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(119, 119, 119);
  border-radius: 6px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  font-style:normal;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 10%;
  outline: none;
  width: 20%;
  float: right;
  margin-left: 80%;
  
}

.listButton:hover {
  background-color: rgba(246, 236, 106, 0.8);
}

.listButtonRepo {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(130, 130, 125);
  border-radius: 6px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  font-style:normal;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 10%;
  outline: none;
  width: 20%;
  float: right;
  margin-left: 80%;
  
}

.listButtonRepo:hover {
  background-color: rgba(156, 227, 159, 0.8);
}

.pdf_viewer{
  width: 30%
}

.footer {
  font-family: 'Noticia Text';
  font-weight: 400;
  font-size: 13px;
  text-align: right;
}

.inputContainer {
  width: 100%;
  /* margin: 0 auto; */
  height: 50px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 0px;
}

.inputContainer1 {
  width: 100%;
  display: flex;
  height: 100px;
  /* margin: 0 auto; */
  /* align-items: center; */
  margin-top: px;
}

.inputContainer2 {
  width: 75%;
  display: flex;
  /* margin: 0 auto; */
  /* align-items: center; */
  margin-top: 40px;
  float: right;
}

.uploadedPDFContainer {
  background-color: rgb(255, 255, 255, 0.8);
  border: 3px solid rgb(254, 184, 63);
  border-radius: 20px;
  width: 42%;
  /* margin: 0 auto; */
  height: 200px;
  display: flex;
  z-index: 1000;
  position: absolute;
  display: flex;
}

.pdf-thumbnail:hover {
  /* Change the background color to transparent grey */
  background-color: rgba(0, 0, 0, 0.1); /* or any other color with opacity */
  /* Create a layering effect for the transparent background to not affect the image content */
  position: relative;
}

.pdf-thumbnail:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1); /* Grey color with transparency */
  pointer-events: none; /* Allows the click to pass through to the image */
}


.previewContainer {
  border: 2px solid rgb(203, 211, 242);
  background-color: rgb(248, 245, 239);
  border-width: 1.5px;
  border-radius: 20px;
  width: 140%;
  /* margin: 0 auto; */
  height: 180px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 0px;
  /* z-index: 1000; */
}


.promptContainer {
  width: 100%;
  display: flex;
  /* margin: 0 auto; */
  /* align-items: center; */
  margin-top: 10px;
}

.generalButtonBox {
  height: 100px;
  width: 100%;
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 0;
}

.innerContainer1 {
  width: 100%;
  height: 45%;
  display: flex;

}

.innerContainer2{
  width: 100%;
  border-radius: 40px;
  border-width: 4px;
  height: 40;
  display: flex;
  margin-top: 5px; 
  border: 4px solid rgb(255, 0, 0);
}

.loginContainer{
  width: 20%;
  height: 100%;
  display: flex;
  margin-left: auto; 
  margin-right: 0;
}


.apiKeyTextField {
  border: 0px solid rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding: 0 10px;
  width: 100%;
}

.sectionText{
  border: 2px solid rgb(137, 141, 140);
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: flex;
  font-size: 16px;
  height: 900px;
  outline: none;
  padding: 0 10px;
  width: 100%;
  margin-top: 5px;
}

.promptText{
  z-index: 9998;
  border: 2px solid rgb(230, 220, 198);
  border-width: 5px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: flex;
  font-size: 16px;
  height: 560px;
  outline: none;
  padding: 0 10px;
  width: 140%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}


.instruction{
  width: 80%;
  height: 100%;
  margin-top: 5px;
}

.uploadPDFButton label {
  background-color: rgb(170, 235, 224);
  border: 4px solid rgb(9, 194, 144);
  border-radius: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 150%;
  outline: none;
  width: 300%;
  margin-left: 100%;
  display: inline-block;
  padding: 6px; 
  text-align: center; 
  font-size: 20px;
  font-weight: bold;
  font-family: 'Noticia Text', serif;
  position: relative; /* Add this line */
  z-index: 9999;
}

.uploadPDFButton label:hover {
  background-color: rgba(159, 255, 245);
}

.uploadedPDFShowButton {
  background-color: rgb(255, 253, 181);
  border: 4px solid rgb(254, 205, 29);
  border-radius: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Noticia Text', serif;
  display: inline-block;
  text-indent: 15%;
  text-align: left; 
  /* Adjust the width, height, and margin as necessary for the show button */
  width: 180px; 
  height: 50px; 
  margin-left: -130px; /* Negative margin to pull the button leftward */
}

.uploadedPDFShowButton:hover{
  background-color: rgb(255, 255, 240);
}

.textbookButton {
  background-color: rgb(226, 222, 250);
  border: 2px solid rgb(199, 72, 253);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 150px;
  display: inline-block;
  padding: 6px; 
  text-align: center; 
  font-size: 17px;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
  margin-left: 10px;
}

.textbookButton:hover {
  background-color: rgba(250, 211, 249, 0.8);
}


.addContentButton {
  background-color: rgb(237, 169, 169);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  outline: none;
  width: 250px;
  display: inline-block;
  text-align: center; 
  font-family: 'Noticia Text', serif;
  font-weight: bold;
}

.addContentButton:hover {
  background-color: rgba(224, 88, 88, 0.8);
}

.ocrContentButton {
  background-color: rgb(178, 221, 236) !important;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  outline: none;
  width: 250px;
  display: inline-block;
  text-align: center; 
  font-family: 'Noticia Text', serif;
  font-weight: bold;
  transition: background 0.1s;
}

.ocrContentButton:hover {
  background-color: rgba(211, 236, 236, 0.8) !important;
}

.clearListButton {
  background-color: rgb(220, 236, 218);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 80px;
  display: inline-block;
  text-align: center; 
}

.clearListButton:hover {
  background-color: rgba(250, 247, 247, 0.8);
}

.ocrProgressContainer {
  margin-left: 220px;
  display:grid;
  flex-direction: column;
  align-items: center; /* vertically align the elements in the center */
}


.generateButton {
  background-color: rgb(255, 187, 0);
  border: solid rgb(255, 145, 0);
  border-radius: 30px;
  border-width: 4px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 100%;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
}

.generateButton:hover {
  background-color: rgba(255, 223, 164, 0.8);
}

.generateExtButton {
  background-color: rgb(98, 255, 0);
  border: 0px solid rgb(252, 252, 252);
  border-radius: 5px;
  border-width: 1.5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 50%;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
}

.generateExtButton:hover {
  background-color: rgba(175, 240, 156, 0.8);
}

.generateButton:disabled {
  background-color: rgb(0, 0, 0, 0.5);
  cursor: wait;
}

.clearButton {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
  display: inline-block;
  margin-left: 1.5px;
  margin-right: 1.5px;
  font-weight: bold;
}

.clearButton:hover {
  background-color: rgba(239, 239, 239, 0.8);
}

.resumeButton {
  background-color: rgb(166, 239, 166);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 20%;
  display: inline-block;
}

.resumeButton:hover {
  background-color: rgba(184, 249, 200, 0.8);
}

.pdfpagezoomButton {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 10%;
  display: inline-block;
}

.pdfpagezoomButton:hover {
  background-color: rgba(239, 235, 235, 0.8);
}

.pdfpagechangeButton {
  background-color: rgb(236, 234, 234);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 15%;
  display: inline-block;
}

.pdfpagechangeButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.resetPromptButton {
  background-color: rgb(201, 230, 216);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 15%;
  display: inline-block;
}

.savePromptButton:hover {
  background-color: rgba(184, 249, 200, 0.8);
}

.resetTextButton {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  outline: none;
  width: 15%;
  display: inline-block;
  justify-content: flex-end; /* This will push the button to the right */
  font-weight: bold;
}


.resetTextButton:hover {
  background-color: rgba(234, 234, 234, 0.8);
}

.saveTextButton:hover {
  background-color: rgba(184, 249, 200, 0.8);
}

.savePromptButton {
  background-color: rgb(201, 230, 216);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 280px;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.resetPromptButton:hover {
  background-color: rgba(184, 249, 200, 0.8);
}

.outputButton {
  background-color: rgb(237, 196, 32);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
  display: inline-block;
  margin-left: 0px;
  margin-right: 5px;
}

.outputButton:hover {
  background-color: rgba(236, 244, 187, 0.8);
}

.deleteNodeButton{
  background-color: rgb(249, 122, 93);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
  display: inline-block;
}

.deleteEdgeButton{
  background-color: rgb(249, 122, 93);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
  display: inline-block;

}

.deleteNodeButton:hover {
  background-color: rgba(248, 116, 104, 0.8);
}

.deleteEdgeButton:hover {
  background-color: rgba(248, 116, 104, 0.8);
}

.nodeEdgeBox{
  width: 40%;
  height: 100%;
  margin-top: 5px;
}

.nodeEdgeButtonBox{
  width: 40%;
  height: 100%;
  margin-top: 5px;
}

.createModifyButtonBox{
  width: 100%;
  height: 100%;
}

.deleteButtonBox{
  width: 100%;
  height: 100%;
}

.textButtonBox{
  width: 140%;
  height: 50px;
  z-index: 9999;
}

.promptButtonBox{
  width: 100%;
  height: 10%;
  margin-right: 0;
  margin-left: 0;
}

.repoButtonBox{
  width: 100%;
  height: 30%;
  margin-right: 0;
  margin-left: 0;
  z-index: 9999;
}

.textButtonBox_1{
  width: 90%;
  height: 10%;
  margin-right: 0;
  margin-left: 25%;
}


.createButton{
  background-color: rgb(251, 225, 30);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
  display: inline-block;

}

.createButton:hover {
  background-color: rgba(238, 243, 153, 0.8);
}

.modifyButton {
  background-color: rgb(138, 120, 254);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
  display: inline-block;
}

.modifyButton:hover {
  background-color: rgba(185, 175, 249, 0.8);
}

.node1Add{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 33.3%;
  outline: none;
  padding: 0 5px;
  width: 100%; 
}

.edgeAdd{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 33.3%;
  outline: none;
  padding: 0 5px;
  width: 100%; 
}

.node2Add{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 33.3%;
  outline: none;
  padding: 0 5px;
  width: 100%; 
}

.projectFileName{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 35px;
  outline: none;
  padding: 0 5px;
  width: 50%; 
}


.kgFileName{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 100%;
  outline: none;
  padding: 0 5px;
  width: 100%; 
}

.pdfFileName{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 45px;
  outline: none;
  padding: 0 5px;
  width: 120px; 
  z-index: 0;
}

.promptFileName{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding: 0 5px;
  width: 40%; 
}

.textFileName{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding: 0 5px;
  width: 180px; 
}


.uploadButton {
  background-color: rgb(18, 245, 185);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
  display: inline-block;
  
}

.uploadButton:hover {
  background-color: rgba(50, 246, 207, 0.8);
}

.uploadProjectButton {
  background-color: rgb(18, 245, 185);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 35px;
  outline: none;
  width: 50%;
  display: inline-block;
  
}

.uploadProjectButton:hover {
  background-color: rgba(50, 246, 207, 0.8);
}

.uploadPDFCloudButton {
  background-color: rgb(18, 245, 185);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  outline: none;
  width: 150px;
  display: inline-block;  
  z-index: 0;
}

.uploadPDFCloudButton:hover {
  background-color: rgba(50, 246, 207, 0.8);
}

.uploadPromptButton {
  background-color: rgb(18, 245, 185);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 20%;
  display: inline-block;
  
}

.uploadPromptButton:hover {
  background-color: rgba(50, 246, 207, 0.8);
}

.uploadTextButton {
  background-color: rgb(18, 245, 185);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 15%;
  display: inline-block;
  
}

.uploadTextButton:hover {
  background-color: rgba(50, 246, 207, 0.8);
}

.logoutButton {
  background-color: rgb(252, 193, 167);
  border: 1px solid rgb(65, 113, 243);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 12px;
  outline: none;
  height: 50%;
  width: 100%;
  display: inline-block;

}

.logoutButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.loginStatus {
  background-color: rgb(255, 242, 0);
  border-radius: 5px;
  height: 60%;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.deleteFileButton{
  z-index: 9999;
  background-color: rgb(240, 146, 124);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  outline: none;
  width: 34%;
  display: inline-block;
}

.deleteFileButton:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.loadFileButton{
  z-index: 9999;
  background-color: rgb(173, 229, 147);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  outline: none;
  width: 33%;
  display: inline-block;
}

.loadFileButton:hover {
  background-color: rgba(179, 244, 129, 0.8);
}

.refreshRepoButton{
  z-index: 9999;
  background-color: rgb(181, 209, 228);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  outline: none;
  width: 33%;
  display: inline-block;
}

.refreshRepoButton:hover {
  background-color: rgba(125, 227, 239, 0.8);
}

.hierarchicalButton{
  z-index: 9999;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 80px;
  color: rgb(253, 253, 253);
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  outline: none;
  width: 20%;
  display: inline-block;
}

.hierarchicalTrue {
  background-color: rgb(38, 0, 252);
}

.hierarchicalFalse {
  background-color: rgb(255, 145, 18);
}

.nodeClusteringButton {
  background-color: rgb(229, 221, 208) !important;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 80px;
  color: rgb(29, 29, 29);
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  outline: none;
  width: 20%;
  display: inline-block;
  text-align: center; 
  font-weight: bold;
  transition: background 0.5s;
}

.nodeClusteringButton:hover {
  background-color: rgba(251, 151, 10, 0.8) !important;
}

.edgeClusteringButton {
  background-color: rgb(230, 255, 189) !important;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 80px;
  color: rgb(29, 29, 29);
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  outline: none;
  width: 20%;
  display: inline-block;
  text-align: center; 
  font-weight: bold;
  /* margin-left: -70px; */
  transition: background 0.5s;
}

.edgeClusteringButton:hover {
  background-color: rgba(140, 255, 0, 0.8) !important;
}


.closeWikiButton{
  z-index: 9999;
  background-color: rgb(216, 204, 184);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  outline: none;
  width: 20%;
  display: inline-block;
}

.closeWikiButton:hover {
  background-color: rgba(127, 125, 125, 0.8);
}

.curInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Set the reference point for absolute positioning of children */
}

.wikiButton {
  background-color: #ffffff; 
  border: none;
  padding: 30px 30px;
  cursor: pointer;
  background-image: url('./wikipedia-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  text-align: center;
  position: relative; /* To position the triangle of the speech bubble */
  z-index: 2; /* To ensure the button is above the results box */
}

.wikiResultsBox {
  display: none; 
  position: absolute;
  width: 50%;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 1; 
  overflow-y: scroll;
  max-height: 40vh;
  bottom: 120%; /* Adjust the position to be slightly above the button */
  right: 0; 
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.wikiResultsBox.show {
  display: block; 
}

/* Speech bubble triangle */
.wikiResultsBox::before {
  content: '';
  position: absolute;
  bottom: -20px; 
  right: 20px; 
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white; 
}




