@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap');

.headerText {
  font-family: 'Noticia Text';
  font-weight: 900;
  text-align: center;
  padding-top: 0.5em;
}


/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

.graphContainer {
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.knowledge_graph{
  width: 50%;
  
}

.sideToolBar{
  height: 100%;
  width: 20%;
  margin-top: 5%;
  float: right;
}

.selectSearchBoxMain{
  height: 50%;
  width: 100%;
  margin-top: 5%;
  float: right;
}

.userLibrary{
  height: 50%;
  width: 100%;
  margin-top: 5%;
  float: right;
}

.selectSearchBox{
  height: 90%;
  width: 100%;
}

.listButton {
  background-color: rgb(182, 243, 247);
  border: 1px solid rgb(254, 164, 158);
  border-radius: 180px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  font-style:normal;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 10%;
  outline: none;
  width: 20%;
  float: right;
  margin-left: 80%;
  
}

.listButton:hover {
  background-color: rgba(239, 239, 239, 0.8);
}

.pdf_viewer{
  width: 30%
}

.footer {
  font-family: 'Noticia Text';
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  margin: 0 auto;
}

.inputContainer {
  width: 100%;
  /* margin: 0 auto; */
  height: 50px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 0px;
}

.inputContainer1 {
  width: 100%;
  display: flex;
  height: 100px;
  /* margin: 0 auto; */
  /* align-items: center; */
  margin-top: px;
}

.inputContainer2 {
  width: 100%;
  display: flex;
  /* margin: 0 auto; */
  /* align-items: center; */
  margin-top: 10px;
}

.generalButtonBox {
  width: 100%;
  display: flex;
  margin-top: 5px;
  margin-left: 5px;

}

.innerContainer1 {
  width: 100%;
  height: 45%;
  display: flex;

}

.innerContainer2{
  width: 100%;
  height: 40;
  display: flex;
  margin-top: 5px; 
  border: 2px solid rgb(255, 0, 0);
}

.loginContainer{
  width: 100%;
  height: 100%;
  display: flex;
}


.apiKeyTextField {
  border: 0px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding: 0 10px;
  width: 50%;
}

.sectionText{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: flex;
  font-size: 16px;
  height: 900px;
  outline: none;
  padding: 0 10px;
  width: 100%;
  margin-top: 5px;
  /* margin-top: 20px; */
}

.instruction{
  width: 80%;
  height: 100%;
  margin-top: 5px;
}

.uploadPDFButton label {
  background-color: rgb(170, 235, 224);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 150px;
  display: inline-block;
  padding: 6px; 
  text-align: center; 
}

.uploadPDFButton label:hover {
  background-color: rgba(111, 204, 167, 0.8);
}

.textbookButton {
  background-color: rgb(226, 222, 250);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 150px;
  display: inline-block;
  padding: 6px; 
  text-align: center; 
}

.textbookButton:hover {
  background-color: rgba(185, 175, 249, 0.8);
}


.addContentButton {
  background-color: rgb(237, 169, 169);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 120px;
  display: inline-block;
  text-align: center; 
}

.addContentButton:hover {
  background-color: rgba(224, 88, 88, 0.8);
}

.ocrContentButton {
  background-color: rgb(178, 221, 236);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 120px;
  display: inline-block;
  text-align: center; 
}

.ocrContentButton:hover {
  background-color: rgba(211, 236, 236, 0.8);
}

.clearListButton {
  background-color: rgb(220, 236, 218);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 80px;
  display: inline-block;
  text-align: center; 
}

.clearListButton:hover {
  background-color: rgba(250, 247, 247, 0.8);
}

.ocrProgressContainer {
  display:grid;
  flex-direction: column;
  align-items: center; /* vertically align the elements in the center */
}


.generateButton {
  background-color: rgb(159, 209, 239);
  border: 0px solid rgb(252, 252, 252);
  border-radius: 5px;
  border-width: 1.5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 50%;
  display: inline-block;
}

.generateButton:hover {
  background-color: rgba(175, 232, 233, 0.8);
}

.generateExtButton {
  background-color: rgb(243, 178, 216);
  border: 0px solid rgb(252, 252, 252);
  border-radius: 5px;
  border-width: 1.5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  outline: none;
  width: 50%;
  display: inline-block;
}

.generateExtButton:hover {
  background-color: rgba(244, 222, 237, 0.8);
}

.generateButton:disabled {
  background-color: rgb(0, 0, 0, 0.5);
  cursor: wait;
}

.clearButton {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.clearButton:hover {
  background-color: rgba(239, 239, 239, 0.8);
}

.resumeButton {
  background-color: rgb(166, 239, 166);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 20%;
  display: inline-block;
}

.resumeButton:hover {
  background-color: rgba(184, 249, 200, 0.8);
}

.outputButton {
  background-color: rgb(237, 196, 32);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 20%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.outputButton:hover {
  background-color: rgba(236, 244, 187, 0.8);
}

.deleteNodeButton{
  background-color: rgb(249, 122, 93);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
  display: inline-block;
}

.deleteEdgeButton{
  background-color: rgb(249, 122, 93);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
  display: inline-block;

}

.deleteNodeButton:hover {
  background-color: rgba(248, 116, 104, 0.8);
}

.deleteEdgeButton:hover {
  background-color: rgba(248, 116, 104, 0.8);
}

.nodeEdgeBox{
  width: 40%;
  height: 100%;
  margin-top: 5px;
}

.nodeEdgeButtonBox{
  width: 40%;
  height: 100%;
  margin-top: 5px;
}

.createModifyButtonBox{
  width: 100%;
  height: 100%;
}

.deleteButtonBox{
  width: 100%;
  height: 100%;
}

.createButton{
  background-color: rgb(251, 225, 30);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
  display: inline-block;

}

.createButton:hover {
  background-color: rgba(238, 243, 153, 0.8);
}

.modifyButton {
  background-color: rgb(138, 120, 254);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
  display: inline-block;
}

.modifyButton:hover {
  background-color: rgba(185, 175, 249, 0.8);
}

.node1Add{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 33.3%;
  outline: none;
  padding: 0 5px;
  width: 100%; 
}

.edgeAdd{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 33.3%;
  outline: none;
  padding: 0 5px;
  width: 100%; 
}

.node2Add{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 33.3%;
  outline: none;
  padding: 0 5px;
  width: 100%; 
}

.kgFileName{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  display: block;
  font-size: 16px;
  height: 100%;
  outline: none;
  padding: 0 5px;
  width: 100%; 
}

.uploadButton {
  background-color: rgb(18, 245, 185);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 40%;
  display: inline-block;
  
}

.uploadButton:hover {
  background-color: rgba(50, 246, 207, 0.8);
}

.logoutButton {
  background-color: rgb(163, 232, 243);
  border: 1px solid rgb(65, 113, 243);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 12px;
  outline: none;
  height: 50%;
  width: 100%;
  display: inline-block;

}

.logoutButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.loginStatus {
  background-color: rgb(255, 242, 0);
  border-radius: 5px;
  height: 60%;
  width: 100%;
  font-size: 12px;
  text-align: center;
}





